#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url('https://user-images.githubusercontent.com/84276601/232982246-7e3f0f06-5206-4d6f-9f18-20fec7541154.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  border-radius: 5px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.708);
  /* filter: blur(1px); */
  /* -webkit-filter: blur(8px); */
}

#kl{
  font-size: xx-large;
  /* font-weight: bolder; */
  color: white;
}

#timer{
  margin: 40px;
  font-size: 45pt;
  color: white;
}

#start-btn{
  width: 20%;
  padding: 5px;
  background-color: darkblue;
  color: white;
  font-size: xx-large;
}

#start-btn:hover{
  background-color: black;
}

#j{
  color: darkblue;
  font-weight: bolder;
}

#head{
  color: purple;
  font-weight: bolder;
  font-size: 40pt;
  margin-bottom: 110px;
  background-color: #eab676;
  border-radius: 5px;
  padding: 15px;
}

#haire{
  margin-top: 150px;
  display: none;
  font-size: x-large;
}